<.header>
  New Church
  <:subtitle>Use this form to manage church records in your database.</:subtitle>
</.header>

<.church_form changeset={@changeset} action={~p"/churches"} />

<.back navigate={~p"/churches"}>Back to churches</.back>
